* {
    font-family: 'Josefin Sans', sans-serif;
    
}
body {
    background-image: url('./wp7787032-low-poly-landscape-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
}
.site-container {
    position:static;
    display: flex;
    justify-content: center;
    padding-top: 8%;
}
.searchBoxWrapper {
    display: flex;
    position: absolute;
    margin-top: 403px;
    margin-left: -20px;
}
.weather-wrapper {
    display: flex;
    flex-direction: column;
    border: solid #6e6e89;
    border-width: 2px;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    height: 400px;
}
#submitLocationButton {
    background-image: url(./icons8-search-30.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15px;
    height: 17px;
    width: 25px;
    border: none;
}
#inputBox {
    height: 15px;
    border: none;
    
}
.weatherInfoResultWrapper{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
}
.humid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.tempWrapper{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
    align-items: center;
}
.windWrapper {
    display: flex;
}
#cloudCover {
    margin-top: -15px;
    font-size: 20px;
}
.weatherIcons {
 width: 30px;
 height: auto;
 margin-top: -20px;
}
.propertyTitle {
    font-size:18px;
}
.upperThird {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 30px;
}
.middleThird {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}