* {
    font-family: 'Josefin Sans', sans-serif;
    
}
body {
    background-image: url('./wp7787032-low-poly-landscape-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
}
.site-container {
    position:static;
    display: flex;
    justify-content: center;
    padding-top: 8%;
}
.weather-wrapper {
    display: flex;
    flex-direction: row;
    border: solid #6e6e89;
    border-width: 2px;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    height: 400px;
}
#submitLocationButton {
    background-image: url(./icons8-search-30.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15px;
    height: 17px;
    width: 25px;
    border: none;

}
#inputBox {
    height: 15px;
    border: none;

}